# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://hznieioyzvcrfqcvyikc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bmllaW95enZjcmZxY3Z5aWtjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2Mjg4NjYsImV4cCI6MjA3MzIwNDg2Nn0.FuvYF2L5si2yzcelbTUBalvgo1qKBhkDKGKDag7cq-w
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bmllaW95enZjcmZxY3Z5aWtjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzYyODg2NiwiZXhwIjoyMDczMjA0ODY2fQ.LVGcLZyC01IbD-P-GaV8pC5guFh4ozxHbal9gpuSSYA


# Site Configuration
NEXT_PUBLIC_SITE_URL=https://primaryuc.com
